body{
    background-color: sandybrown;
}
.Menuinicio{
    display:flex;
    justify-content: space-between;
    float: inline-start;
    align-items: center;
    background-color: red;
    width: 100%;

}
#banner{
    display: flex;
    background-color: rebeccapurple;
}
.seccioncomida{
    background-color: yellow;
    display: inline-flex;
    width: 40%;
}
.Cimagen{
    display: flex;
    width: 500px;
    height: 500px;
}
.seccionordenes{
    display: flex;
    background-color: darkgreen;
    width: 400px;
    height: 300px;
}
.productocomida{
    display: inline-flex;
    width: 400px;
    height: auto;
    background-color: aqua;
}
.productocomida p{
    justify-content: space-between;
}